.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#table {
  border-collapse: collapse;
  width: 100%;
}
#table td,
#table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#table th {
  padding: 12px 8px;
  text-align: left;
  background-color: #2c944d;
  color: white;
}
.navigation {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.navigation-btn {
  background-color: #2c944d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
}
